body{
	margin: 0;
	padding:0;
	font-family: sans-serif;
	background: url(ball.jpg) no-repeat;
	background-size: cover;
}

button{
	font-size: 20px;
	color: white;
	outline:none;
	background:none;
	margin-top: 20px;
	margin-left: 1230px;
}

button:hover{
	color: red;
	border:4px solid red;
}
.login-box{

	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white ;

}

.login-box h1{
	float: left;
	font-size: 40px;
	margin-bottom: 40px;
	padding: 13px 0;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 30px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom:  3px solid #4caf50;

}
/*
.textbox input:focus
{
	border-bottom:red 4px solid ;
}
*/

.textbox i{
	width: 30px;
	float:left;
	text-align: center;
}
.textbox input{
	
	border:none;
	outline:none;
	background:none;
	color: black;
	font-size: 30px;
	font-style: bold;
	width: 80%;
	float:left;
	margin: 0 10px;
}
.btn{
	background-color: green;
	color: white;
	font-size: 20px;
	border: 2px black solid;
	border-radius: 10px; 

}
.btn:hover{
	background-color: red;
}


.textbox i{
	color: black;
}

.login-box a:link{
	color: white;
}